<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="./../../../assets/images/HomeSlider/stadium_slide.jpg" alt="Chania">
            <div class="carousel-caption">
                <h1>Football results, fixtures and teams!</h1>
            </div>
        </div>

        <div class="item">
            <img src="./../../../assets/images/HomeSlider/titles-slider.jpg" alt="Chicago">
            <div class="carousel-caption">
                <h1>Play and Win!</h1>
            </div>
        </div>

        <div class="item">
            <img src="./../../../assets/images/HomeSlider/trophy.jpg" alt="New York">
            <div class="carousel-caption">
                <h1>Become champion and win great prizes!</h1>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<h1 class="text-center">Explorer Championships</h1>
<!-- TO DO dinamically get info for ball icon -->
<div class="container">
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <!-- to do take all championship names dynamically + currentMatchday, numberOfMatchdays, numberOfTeams, numberOfGames from the API in fa-futbol-o -->
                    <p>English Premier League</p>
                    <img src="./../../../assets/images/Championships/english_premier_league.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Primera Division</p>
                    <img src="./../../../assets/images/Championships/la_liga.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Bundesliga</p>
                    <img src="./../../../assets/images/Championships/bundesliga.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Seria A</p>
                    <img src="./../../../assets/images/Championships/serie_a.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Liga 1</p>
                    <img src="./../../../assets/images/Championships/ligue_1.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Eredivisie</p>
                    <img src="./../../../assets/images/Championships/eredivisie.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>English League 1</p>
                    <img src="./../../../assets/images/Championships/english_league1.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>English League 2</p>
                    <img src="./../../../assets/images/Championships/english_league2.png" class="remove_background" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Brazilian Serie A</p>
                    <img src="./../../../assets/images/Championships/brazilian_serieA.png" id="brazil_pic" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Portugal Primeira Liga</p>
                    <img src="./../../../assets/images/Championships/portugal_primeira_liga.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>French Ligue 2</p>
                    <img src="./../../../assets/images/Championships/french_ligue2.jpg" class="remove_background" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>Italian Serie B</p>
                    <img src="./../../../assets/images/Championships/italian_serieB.png" /></div>
                <div class="panel-body"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>

            </div>
        </div>
    </div>
</div>