.panel:hover {
    box-shadow: 0px 0px 30px rgba(63, 156, 215, 0.20);
    cursor: pointer;
}
.panel-heading img{
    width: 50%;
}

#brazil_pic{
    width: 45.5%;
}
.remove_background{
    mix-blend-mode: multiply;
}

#myCarousel img{
    height: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    #myCarousel img{
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1700px) {    
    #myCarousel img{
        height: auto;
        width: 100%;
    }
}

.carousel-caption h1{
    font-size: 40px;
    margin: 40px;
}

@media (max-width: 768px) {
    .carousel-caption h1{
        font-size: initial;
    }
}

img {
    mix-blend-mode: multiply;
    width: 100%;
}