<div class="demo">
  <div class="container">
    <button (click)="a()">Use this button to console log whole received object</button>

    <app-loading-spinner [loading]="loading" class="text-center"></app-loading-spinner>
    
    <div class="row">
      <div *ngFor="let team of teams; let i = index">
        <a href="#/team/{{team.id}}" style="text-decoration: none; color: initial">
          <div *ngIf="team.crestUrl !== null" class="col-md-3 col-sm-6">
            <div class="pricingTable" style="height: 300px; cursor: pointer">
              <div class="pricingTable-header">
                <img [src]="team.crestUrl" width="92px" height="100" onError="this.src='./../../../assets/images/noImageAvailable.png'" />
              </div>
              <h3 class="heading">
                {{team.name}}
              </h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>