<form class="form-horizontal" [formGroup]="regForm">
    <fieldset>
        <!-- Form Name -->
        <legend class="text-center">
            <h3><strong>Registration Form</strong></h3>
        </legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Username</label>
            <div class="col-md-4">
                <input id="textinput" name="username" type="text" class="form-control input-md" 
                required="" formControlName="username">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">E-mail</label>
            <div class="col-md-4">
                <input id="textinput" name="email" type="text" class="form-control input-md" 
                required="" formControlName="email">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Password</label>
            <div class="col-md-4">
                <input id="textinput" name="password" type="text" class="form-control input-md" 
                required="" formControlName="password">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Confirm Password</label>
            <div class="col-md-4">
                <input id="textinput" name="confirm" type="text" class="form-control input-md" 
                required="" formControlName="confirm"> 
            </div>
        </div>

        <!-- Image
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Image</label>
            <div class="col-md-2">
                <input id="textinput" name="textinput" type="file" placeholder="" class="form-control input-md" required="" accept="image/*"
                />
            </div>
        </div> -->

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Full Name</label>
            <div class="col-md-4">
                <input id="textinput" name="fullName" type="text" class="form-control input-md" 
                required="" formControlName="fullName">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Age</label>
            <div class="col-md-4">
                <input id="textinput" name="age" type="text" class="form-control input-md" 
                required="" formControlName="age">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="registerBtn"></label>
            <div class="col-md-4">
                <button id="regBtn" name="registerBtn" class="btn btn-success">Register</button>
            </div>
        </div>

    </fieldset>
</form>