<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/ranking">Ranking</a></li>
          <li><a href="#/championships">Championships</a></li>          
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li><a href="#/play">Play</a></li>
          <li><a href="#/teams">Teams</a></li>          
          <li><a href="#/favorites">Favorites</a></li>
          <li><a href="#/rules">Rules</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <h3>© 2017 Telerik Academy - Angular Project </h3>
  </div>
</footer>