<div class="container" id="rules_holder">
  <div class="panel-group" id="faqAccordion1">
    <div class="panel panel-primary ">
      <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion1" data-target="#question0">
        <div class="panel-title">
          <p>Age Limitations</p>
        </div>
      </div>
      <div id="question0" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <p>Every user should be 18+ years old.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-group" id="faqAccordion2">
      <div class="panel panel-primary ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion2" data-target="#question1">
          <div class="panel-title">
            <p>Game rules</p>
          </div>
        </div>
        <div id="question1" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <h3><i class="fa fa-hand-o-right fa-1.5x" aria-hidden="true"></i>   Bet the final score of a fixture</h3>
            <h3><i class="fa fa-hand-o-right fa-1.5x" aria-hidden="true"></i>   Win points as follows: </h3>
            <h4><i class="fa fa-check-square-o fa-1.2x text-success" aria-hidden="true"></i>   Correct Suggestion - 3 points</h4>
            <h4><i class="fa fa-check-square-o fa-1.2x text-danger" aria-hidden="true"></i>   Incorrect Suggestion - 0 points</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group" id="faqAccordion3">
        <div class="panel panel-primary ">
          <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion3" data-target="#question2">
            <div class="panel-title">
              <p>Ranking</p>
            </div>
          </div>
          <div id="question2" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <p>The game ranking is produced by the users total points won on different fixtures betting. The user with highest result takes the 1st place in the ranking. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="faqAccordion4">
          <div class="panel panel-primary ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion4" data-target="#question3">
              <div class="panel-title">
                <p>Prizes</p>
              </div>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <p>Only the first three players in ranking win prizes.</p>
                <h4><i class="fa fa-ticket" aria-hidden="true"></i>    1st place - Tickets for a match in English Premier League</h4>
                <h4><i class="fa fa-shirtsinbulk" aria-hidden="true"></i>    2nd place - An original football jersey (Chosen by the user)</h4>
                <h4><i class="fa fa-futbol-o" aria-hidden="true"></i>    3rd place - An original La Liga ball</h4>
                
              </div>
            </div>
          </div>
        </div>
  <!--/panel-group-->
</div>