.tableHead {
    background-color: lightsalmon;
    text-align: center;
    font-family: verdana;
    font-size: 130%;
}

.bold {
    font-family: verdana;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

.small {
    width: 10%;
    font-size: 110%;
    text-align: center;
}


