<!-- <button (click)="  a()">Use this button to console log whole received object</button> -->

<div class="container">
  <div class="row">
    <h1 class="text-center text-danger">{{leagueName}}</h1>
    <img class="img-responsive center-block" src="./../../../../assets/images/Championships/{{idFromUrl}}.png" width="20%" onError="this.src='./../../../assets/images/noImageAvailable.png'"/>
    <hr />
    <app-loading-spinner [loading]="loading" class="text-center"></app-loading-spinner>
    <table *appHideElement="!statistics" class="table table-bordered">
        <thead>
            <tr>
              <th class="text-center">Position</th>
              <th class="text-center">Logo</th>
              <th class="text-center">Team</th>
              <th class="text-center">Played Games</th>
              <th class="text-center">Points</th>
              <th class="text-center">Scored Goals</th>
              <th class="text-center">Goals Against</th>
              <th class="text-center">Goals Difference</th>
            </tr>
        </thead>
      <tbody *ngFor="let comp of statistics">
        <tr>
          <td appAlignMiddleAndCenter *ngIf="comp.rank; else NoDataTemplate">{{comp.rank}}</td>
          <td appAlignMiddleAndCenter *ngIf="comp.crestURI; else NoDataTemplate" width="25%"><img class="img-responsive center-block" src="{{comp.crestURI}}" width="20%" onError="this.src='./../../../../assets/images/noImageAvailable.png'"/></td>
          <td appAlignMiddleAndCenter *ngIf="comp.team; else NoDataTemplate">{{comp.team}}</td>
          <td appAlignMiddleAndCenter *ngIf="comp.playedGames; else NoDataTemplate">{{comp.playedGames}}</td>
          <td appAlignMiddleAndCenter *ngIf="comp.points; else NoDataTemplate"><strong>{{comp.points}}</strong></td>
          <td appAlignMiddleAndCenter *ngIf="comp.goals; else NoDataTemplate">{{comp.goals}}</td>
          <td appAlignMiddleAndCenter *ngIf="comp.goalsAgainst; else NoDataTemplate">{{comp.goalsAgainst}}</td>
          <td appAlignMiddleAndCenter *ngIf="comp.goalDifference; else NoDataTemplate">{{comp.goalDifference}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #NoDataTemplate>
  <td appAlignMiddleAndCenter><strong>No Data</strong></td>
</ng-template>

