.navbar{
    border-radius: 0;
    padding: 10px;
    margin: 0;
}

.navbar-inverse{
    background-color: #3C3D41;
}

.navbar-nav li:hover{
    background-color: gray;
    border-radius: 40px;
}

.navbar-nav li a{
    font-size: 16px;
}

.navbar-brand{
    margin-right: 10px;
}

#myCarousel img{
    height: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    #myCarousel img{
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1700px) {    
    #myCarousel img{
        height: auto;
        width: 100%;
    }
}

.carousel-caption h1{
    font-size: 40px;
    margin: 40px;
}

@media (max-width: 768px) {
    .carousel-caption h1{
        font-size: initial;
    }
}