<div class="demo">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="pricingTable">
          <div class="pricingTable-header">
            <!-- to do team picture -->
          </div>
          <h3 class="heading">
            <!-- to do team name -->
          </h3>
          <div class="pricing-content">
            <ul>
              <!-- to do info from http://api.football-data.org/v1/competitions/{id}/leagueTable -->
              <!-- <li><a href="#">Best Players</a></li> OPTIONAL -> new page-->
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="pricingTable green">
          <div class="pricingTable-header">
            <i class="fa fa-briefcase"></i>
            <div class="price-value"> $20.00 <span class="month">per month</span> </div>
          </div>
          <h3 class="heading">Business</h3>
          <div class="pricing-content">
            <ul>
              <li><b>60GB</b> Disk Space</li>
              <li><b>60</b> Email Accounts</li>
              <li><b>60GB</b> Monthly Bandwidth</li>
              <li><b>15</b> subdomains</li>
              <li><b>20</b> Domains</li>
            </ul>
          </div>
          <div class="pricingTable-signup">
            <a href="#">sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>