<button (click)="a()">Explorer response results</button>
<div class="container">
  <h2 class="text-center">All Upcoming Fixtures</h2>
  <hr />
  <div class="center">
    <app-loading-spinner [loading]="loading" class="text-center"></app-loading-spinner>
  </div>
  <table class="table table-bordered">
    <thead *appHideElement="loading">
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Home Team</th>
        <th class="text-center">vs.</th>
        <th class="text-center">Away Team</th>
        <th class="text-center">Bet for Home Team</th>
        <th class="text-center">Bet for a Draw</th>
        <th class="text-center">Bet for Away Team</th>
      </tr>
    </thead>
    <tbody *ngFor="let singleFixture of allMatches">
      <tr>
        <td class="text-center centerText">{{singleFixture.date | formatFixtureDate}}</td>
        <td class="text-center centerText">{{singleFixture.homeTeamName}}</td>
        <td class="text-center centerText ">-</td>
        <td class="text-center centerText">{{singleFixture.awayTeamName}}</td>
        <td><button class="btn btn-primary btn-md hundredWidth" disabled>Future Feature</button></td>
        <td><button class="btn btn-warning btn-md hundredWidth" disabled>Future Feature</button></td>
        <td><button class="btn btn-primary btn-md hundredWidth" disabled>Future Feature</button></td>
      </tr>
    </tbody>
  </table>
</div>